Options +FollowSymLinks
RewriteEngine on
RewriteOptions inherit

RewriteCond %{HTTP_HOST} ^homework\.chriswetherill\.me$
RewriteRule ^/?$ "https\:\/\/samarium\.celtrust\.com\/~chris\/homework\/index\.php" [R=301,NC,L]

RewriteCond %{HTTPS} !=on
RewriteRule .* https://samarium.celtrust.com/~chris%{REQUEST_URI} [R=301,NC,L]