      <div class="col-md-3 col-md-offset-1" id="footer">
        <h2 id="footer-name">Chris Wetherill</h2>
        <p class="normal">
          Data Science Manager at at <a href="https://medmutual.com/" target="_blank" rel="noopener">Medical Mutual of Ohio</a>.
        </p>
        <p class="normal">You can find me on:</p>
        <span>
          <a
            href="https://phabricator.tbmh.org"
            target="_blank"
            rel="noopener">
            <img
              src="{{ url_for('static', filename='images/phabricator.png') }}"
              alt="phabricator"
              width="57px"
              height="57px" />
          </a>
          <a
            href="https://github.com/wetherc"
            target="_blank"
            rel="noopener">
            <img
              src="{{ url_for('static', filename='images/github.svg') }}"
              alt="github"
              width="57px"
              height="57px" />
          </a>
          <a
            href="https://www.linkedin.com/in/christopherwetherill"
            target="_blank"
            rel="noopener">
            <img
              src="{{ url_for('static', filename='images/linkedin.svg') }}"
              alt="linkedin"
              width="57px"
              height="57px" />
          </a>
          <a
            href="https://keybase.io/chriswetherill"
            target="_blank"
            rel="noopener">
            <img
              src="{{ url_for('static', filename='images/keybase.png') }}"
              alt="keybase"
              width="57px"
              height="57px" />
          </a>
        </span>
      </div>
    </div>
  </body>

  <footer>
    <script
      src="{{ url_for('static', filename='js/jquery.min.js') }}"
      charset="utf-8"
      crossorigin="anonymous">
    </script>
    <script
      src="{{ url_for('static', filename='js/bootstrap.min.js') }}"
      charset="utf-8"
      crossorigin="anonymous">
    </script>
  </footer>
</html>
