<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>Chris Wetherill</title>
  <meta charset="utf-8">
  <meta name="author" content="Chris Wetherill">
  <meta name="description" content="Trivia, nonsense, and other goings on by Chris Wetherill">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://chriswetherill.me/" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}" type="text/css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand resizeable" id="bespoke-fact">Chris thinks you should enable JavaScript</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
          <li><a class="nav-link" href="https://blog.chriswetherill.me">Posts</a></li>
          <li><a class="nav-link" href="{{ url_for('resume') }}">Resume</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
