{% include 'header.html' %}

<div class="col-md-6 col-md-offset-1">
  <h1>Hey! You found me.</h1>

  <p>I'm Chris Wetherill, a Midwestern dude working on building out scalable and highly performant machine learning tooling at Progressive Insurance.</p>

  <p>Most recently, I led the data science practice at State Auto Insurance, where our team was focused on advancing the adoption of machine learning across the company and applying relevant predictive modelling techniques to solve emerging business problems. Our work spanned from image classification and segmentation, to natural language understanding, to more classical classification and regression problems. A large focus here was also in developing the infrastructure and automations to enable data scientists and predictive modellers around the company to deploy their models at scale with minimal friction.</p>

  <p>In other prior lives, I have worked in pricing R&D, business intelligence analytics, and other assorted data science roles. I also spent some time in a PhD program in computational biology at Virginia Tech where we did some work at the intersection of genomics and epidemiolgy, trying to better predict how diseases move through populations.</p>

  <p>Want to chat about data? Feel free to <a href="mailto:hello@c18l.org">get in touch!</a></p>
</div>

{% include 'footer.html' %}
