{% include 'header.html' %}

<div class="col-md-6 col-md-offset-1">
  <h1>Hey! You found me.</h1>

  <p>I'm Chris Wetherill, I used to have content here but I got annoyed with having to keep it updated.</p>

  <p>Broadly, I do data stuff and make computers go beep boop. Sometimes even intentionally! Head on over to my resume tab or hit me up on LinkedIn for more info about my professional history.</p>

  <p>When I'm not working, you can usually find me pampering my neurotic dog, talking about the benefits of native plant gardening just a little bit more than anyone wants to hear about, or tinkering on a computer somewhere.</p>

  <p>Want to chat about data? Feel free to <a href="mailto:hello@c18l.org">get in touch!</a></p>

  <p>For more fun antics, head over to my take on <a href="https://cowsay.tbmh.org">cowsay</a> for quotes from the New York Times taken completely out of context, as said by an ASCII cow. Plays nice with curl, too.</p>
</div>

{% include 'footer.html' %}
